.post {
	display: flex;
	flex-direction: column;

	width: 100%;
	padding: 2rem;

	border: 1px solid var(--border-theme-dark);
	border-radius: 0.75rem;
	background-color: var(--card-theme-dark);
	row-gap: 1rem;
}

.post_header {
	display: grid;
	grid-template-columns: min-content 1fr auto;
	column-gap: 0.75rem;

	align-items: center;
}

.post_body {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	row-gap: 1rem;
}

.link {
	margin: 0;
	padding: 0;

	color: lightgray;

	font-size: 1rem;
	font-weight: 500;
	line-height: 1.25rem;

	/* text-overflow: ellipsis; */
}

.link:hover {
	opacity: 0.7;
}

.post_footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width: 768px) {
	.post {
		padding: 1rem;
		row-gap: 0.5rem;
	}

	.post_header {
		column-gap: 0.5rem;
	}

	.link {
		font-size: 0.75rem;
		line-height: 1rem;
	}
}
