.list {
	display: flex;
	flex-direction: column;

	width: 100%;
	margin: 0;
	padding: 2rem;

	list-style: none;
	gap: 1rem;
}

.label {
	align-self: flex-end;
}

@media screen and (max-width: 768px) {
	.list {
		padding: 1rem;
		gap: 0.5rem;
	}
}
