.container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	padding: 2rem 0;
}

.message {
	margin: 4rem;
}

@media screen and (max-width: 768px) {
	.container {
		padding: 1rem;
	}
}
